<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="loginstyle.css">
    <title> Connexion </title>
</head>


<body>

    <div class = "Container">

        <div class = "form">

            <div class = "pictureside">
                <img src="Docs_utiles/logo.png" alt = " " >
            </div>

            <div class= "loginside">

                <h1> Enregistrez vous </h1>

                <div class="inputrow">
                    <div class = "inputIcon" >
                        <i class='bx bxs-user'></i>
                    </div>
                    <input type = "text" name = "userName" id = "userName" placeholder = "Nom d'utilsateur">
                </div>

                <div class="inputrow">
                    <div class = "inputIcon" >
                        <i class='bx bx-envelope' ></i>
                    </div>
                    <input type = "text" name = "email" id = "email" placeholder = "email">
                </div>

                <div class="inputrow">
                    <div class = "inputIcon" >
                        <i class='bx bx-phone' ></i>
                    </div>
                    <input type = "text" name = "téléphone" id = "phone" placeholder = "numéro de téléphone">
                </div>

                <div class="inputrow">
                    <div class = "inputIcon" >
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <input type = "password" name = "userPassword" id = "userPassword"  placeholder = "Mot de passe">
                </div>

                <div class="inputrow">
                    <div class = "inputIcon" >
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <input type = "password" name = "userPassword" id = "userPassword"  placeholder = "confirmez mot de passe">
                </div>

                <div class="row">
                    
                    <div class="col">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe"> Remember me </label>
                    </div>

                    <a href="#" > Mot de passe oublié ? </a>

                </div>

                <div class="btnRow">
                    <input type = "button" value = "Subscribe" class = "btn" id = "loginBtn">
                </div>
                
                <div class="btnRow">
                    <a href = "login.html"> <input type = "button" value = "sign in" class = "btn" id = "signupBtn"> </a>
                </div>
                


            </div>

        </div>

    </div>
    
</body>

</html>